* {
  margin: 0;
  padding: 0; }
  *, *::before, *::after {
    box-sizing: border-box; }

button {
  outline: none;
  border: 0;
  box-shadow: none;
  background-color: transparent; }
  button:not([disabled]) {
    cursor: pointer; }

input,
button {
  color: inherit;
  font-family: inherit; }

input {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

@font-face {
  font-family: "Aktivgrotest";
  font-weight: normal;
  font-style: normal;
  src: local("Aktivgrotest"), local("aktivgrotesk-regular"), url("../assets/fonts//aktivgrotesk-regular.woff2") format("woff2"), url("../assets/fonts//aktivgrotesk-regular.woff") format("woff"), url("../assets/fonts//aktivgrotesk-regular.ttf") format("truetype"); }

@font-face {
  font-family: "Aktivgrotest";
  font-weight: 700;
  font-style: normal;
  src: local("Aktivgrotest"), local("aktivgrotesk-bold"), url("../assets/fonts//aktivgrotesk-bold.woff2") format("woff2"), url("../assets/fonts//aktivgrotesk-bold.woff") format("woff"), url("../assets/fonts//aktivgrotesk-bold.ttf") format("truetype"); }

html {
  width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%; }

body {
  color: #6d7278;
  font-family: "Aktivgrotest", "sans-serif";
  font-size: 16px; }

hr {
  border: 0; }

ul {
  list-style: none; }

::placeholder {
  color: #6d7278;
  opacity: 1; }

.o-btn {
  min-width: 160px;
  height: 40px;
  text-transform: uppercase;
  line-height: 1.7rem;
  font-size: 1.4rem; }
  .o-btn .o-btn__label {
    position: relative;
    top: 3px; }
  .o-btn--ghost {
    border: 2px solid currentColor;
    border-radius: 30px;
    background-color: transparent;
    color: #27c0ff; }

.o-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  line-height: 1.7rem;
  font-size: 1.4rem;
  user-select: none; }
  .o-checkbox:not(:last-child) {
    margin-bottom: 15px; }
  .o-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0; }
    .o-checkbox input:checked ~ .o-checkbox__checkmark::after {
      content: ""; }
    .o-checkbox input:checked ~ .o-checkbox__label {
      color: #1294ca; }
  .o-checkbox__checkmark {
    position: relative;
    margin-right: 15px;
    border: 1px solid #aaafb9;
    border-radius: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px; }
    .o-checkbox__checkmark::after {
      transform: rotate(45deg);
      border: solid currentColor;
      border-width: 0 1px 1px 0;
      width: 5px;
      height: 8px;
      color: #1294ca;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }
  .o-checkbox__label {
    text-transform: capitalize; }

.icon {
  display: inline-block;
  margin: auto;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor; }

.o-logo {
  font-size: 3.2rem; }
  .o-logo-lg {
    font-size: 4rem; }

.o-radio {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  line-height: 1.7rem;
  font-size: 1.4rem;
  user-select: none; }
  .o-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
    .o-radio input:checked ~ .o-radio__checkmark::after {
      content: ""; }
    .o-radio input:checked ~ .o-radio__label {
      color: #1294ca; }
  .o-radio__checkmark {
    position: relative;
    margin-right: 15px;
    border: 2px solid #aaafb9;
    border-radius: 50%;
    background-color: #fff;
    width: 18px;
    height: 18px; }
    .o-radio__checkmark::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: 50%;
      background-color: #1294ca;
      width: 10px;
      height: 10px; }
  .o-radio__label {
    text-transform: capitalize; }

.o-seperator {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  height: 2px; }

.mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    .mobile {
      display: block; } }

.o-link {
  text-decoration: none; }
  .o-link, .o-link:hover, .o-link:active {
    color: #b2b7c0;
    text-transform: uppercase;
    font-size: 1.3rem; }

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #424856;
  padding: 20px 40px;
  min-height: 85px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #242a36 0%, #3c424f 100%);
  padding: 20px 40px;
  min-height: 85px; }

.page-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgba(208, 208, 208, 0.61);
  background-color: #fff;
  padding: 20px 40px;
  min-height: 67px; }
  .page-head__results {
    display: flex;
    align-items: center; }

.page {
  display: flex;
  position: relative;
  flex-grow: 1; }
  .page__filter {
    border: 1px solid #9da3b0;
    border-radius: 50%;
    background-color: #fff;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 40px; }
    .page__filter:focus ~ .page__aside {
      display: block; }
  .page__aside {
    border-right: 1px solid rgba(208, 208, 208, 0.61);
    background-color: #fff;
    overflow-y: auto; }
    @media only screen and (max-width: 767px) {
      .page__aside {
        display: none;
        position: absolute;
        top: 0;
        right: 10vw;
        bottom: 0;
        left: 0;
        z-index: 500; } }
    @media only screen and (min-width: 768px) {
      .page__aside {
        min-width: 364px; } }
  .page__main {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 20px;
    background-color: #eff2f3;
    padding: 40px 40px 240px 40px; }
    @media only screen and (min-width: 1025px) {
      .page__main {
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (min-width: 1440px) {
      .page__main {
        grid-template-columns: repeat(3, minmax(300px, 1fr)); } }

.c-avatar {
  position: relative;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  text-align: center; }
  .c-avatar__image {
    border: 10px solid #fff;
    border-radius: 50%;
    width: 100%;
    overflow: hidden; }
  .c-avatar__chart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden; }

.c-card {
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  overflow: hidden; }
  .c-card__image {
    margin: -20px;
    width: calc(100% + 40px); }
  .c-card__avatar {
    position: relative;
    z-index: 1;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 10px; }
  .c-card__title {
    margin-bottom: 10px;
    text-align: center;
    line-height: 3.1rem;
    letter-spacing: -0.67px;
    color: #191d25;
    font-size: 2.4rem; }
  .c-card__text {
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.3rem; }
  .c-card__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .c-card__labels {
    margin-left: auto;
    width: 150px;
    text-align: right; }

.c-chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border: 1px solid;
  border-radius: 4px;
  min-height: 25px;
  line-height: 1.6rem;
  white-space: nowrap;
  font-size: 1.3rem; }
  .c-chip__label {
    margin-top: 3px;
    padding-right: 5px;
    padding-left: 5px; }
  .c-chip--design {
    border-color: rgba(141, 221, 208, 0.4);
    background-color: rgba(99, 208, 190, 0.05);
    color: #4bbaa7; }
  .c-chip--development {
    border-color: rgba(221, 208, 141, 0.4);
    background-color: rgba(190, 208, 99, 0.05);
    color: #f85b85; }
  .c-chip--marketing {
    border-color: rgba(255, 172, 125, 0.4);
    background-color: rgba(255, 172, 125, 0.07);
    color: #e78c58; }

.c-type-data {
  line-height: 1.9rem;
  font-size: 1.3rem; }
  .c-type-data:not(:last-child) {
    margin-bottom: 15px; }
  .c-type-data__icon {
    margin-right: 5px;
    font-size: 2rem; }

.c-donut-chart {
  --color-design: #4bbaa7;
  --color-development: #f85b85;
  --color-marketing: #e78c58;
  transform: rotate(-90deg); }

.c-links {
  display: flex;
  align-items: center; }
  .c-links__item {
    min-height: 16px; }
    .c-links__item:not(:first-child) {
      padding-left: 15px; }
    .c-links__item:not(:last-child) {
      border-right: 1px solid #5d6670;
      padding-right: 15px; }

.c-panel {
  border-bottom: 1px solid #eff2f3;
  padding: 20px 40px 30px; }
  .c-panel__head {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.7rem;
    font-size: 1.4rem;
    font-weight: 700; }
  .c-panel__clear {
    margin-right: 5px;
    text-transform: capitalize;
    line-height: 1.7rem;
    font-size: 1.4rem; }
  .c-panel__toggle {
    font-size: 12px; }
  .c-panel__body:not(:last-child) {
    margin-bottom: 20px; }
  .c-panel__show-more {
    color: #1294ca; }
  .c-panel__show-more-icon {
    top: -2px;
    margin-right: 5px; }
  .c-panel--colapsed {
    flex: 0; }

.c-results__title {
  line-height: 3.1rem;
  font-size: 2.4rem;
  color: #191d25; }

.c-results__num {
  line-height: 2.3rem;
  font-size: 1.8rem; }

.c-results__clear {
  margin-left: 60px;
  line-height: 2.1rem;
  font-size: 1.6rem; }

.c-search {
  display: flex;
  position: relative;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 10px; }
  .c-search__control {
    position: relative;
    top: 2px;
    outline: none;
    background-color: transparent;
    width: 100%;
    line-height: 1.7rem;
    font-size: 1.4rem; }
  .c-search__button {
    width: 40px;
    text-align: center;
    font-size: 20px; }
