$footer: (
  height: 85px,
  background-color: color(river-bed),
  padding-x: $spacing-container,
  padding-y: $spacing-container / 2
);

.footer {
  display: flex;
  justify-content: space-between;
  background-color: map-get($footer, background-color);
  padding: map-get($footer, padding-y) map-get($footer, padding-x);
  min-height: map-get($footer, height);
}
