$header: (
  height: 85px,
  background: linear-gradient(90deg, color(ebony-clay) 0%, color(bright-gray) 100%),
  padding-y: $spacing-container / 2,
  padding-x: $spacing-container,

);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: map-get($header, background);
  padding: map-get($header, padding-y) map-get($header, padding-x);
  min-height: map-get($header, height);
}
