$page-head: (
  height: 67px,
  border: 1px solid rgba(208, 208, 208, 0.61),
  padding-x: $spacing-container
);

.page-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: map-get($page-head, border);
  padding-right: map-get($page-head, padding-x);
  padding-left: map-get($page-head, padding-x);
  height: map-get($page-head, height);

  &__results {
    display: flex;
    align-items: center;
  }
}
