// LAYOUT: MAIN PAGE

$page: (
  aside: (
    border-right: 1px solid rgba(color(brand, border), 0.61),
    background-color: color(brand, secondary-bg),
    max-md: (
      right: 10vw,
      z-index: z-map(menu-overlay)
    ),
    min-md: (
      width: 364px
    )
  ),
  main: (
    padding: $spacing-container $spacing-container spacing(24) $spacing-container,
    rows: minmax(min-content, max-content),
    columns: (
      base: 1fr,
      min-lg: 1fr 1fr,
      min-xl: repeat(3, minmax(300px, 1fr))
    ),
    gap: spacing(2),
    background-color: color(brand, primary-bg)
  )
);

.page {
  display: flex;
  position: relative;
  flex-grow: 1;

  &__filter {
    @include btn-icon-round;
    position: absolute;
    top: 10px;
    left: 40px;

    &:focus {
      ~ .#{page}__aside {
        display: block;
      }
    }
  }

  &__aside {
    border-right: map-deep-get($page, aside, border-right);
    background-color: map-deep-get($page, aside, background-color);
    overflow-y: auto;
    @include media-max(md) {
      display: none;
      position: absolute;
      top: 0;
      right: map-deep-get($page, aside, max-md, right);
      bottom: 0;
      left: 0;
      z-index: map-deep-get($page, aside, max-md, z-index);
    }
    @include media-min(md) {
      min-width: map-deep-get($page, aside, min-md, width);
    }
  }

  &__main {
    display: grid;
    flex-grow: 1;
    grid-template-columns: #{map-deep-get($page, main, columns, base)};
    grid-auto-rows: #{map-deep-get($page, main, rows)};
    grid-gap: map-deep-get($page, main, gap);
    background-color: map-deep-get($page, main, background-color);
    padding: map-deep-get($page, main, padding);

    @include media-min(lg) {
      grid-template-columns: #{map-deep-get($page, main, columns, min-lg)};
    }
    @include media-min(xl) {
      grid-template-columns: #{map-deep-get($page, main, columns, min-xl)};
    }
  }
}
