// LAYOUT: PAGE HEAD
$page-head: (
  height: 67px,
  border: 1px solid rgba(color(alto), 0.61),
  background-color: color(brand, secondary-bg),
  padding-y: $spacing-container / 2,
  padding-x: $spacing-container
);

.page-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  border: map-get($page-head, border);
  background-color: map-deep-get($page-head, background-color);
  padding: map-get($page-head, padding-y) map-get($page-head, padding-x);
  min-height: map-get($page-head, height);

  &__results {
    display: flex;
    align-items: center;
  }
}
