// COMPONENT: AVATAR

$avatar: (
  size: 95px,
  border-radius: $radius-round,
  image: (
    border: 10px solid color(brand, light)
  )
);

.c-avatar {
  position: relative;
  border-radius: map-deep-get($avatar, border-radius);
  width: map-deep-get($avatar, size);
  height: map-deep-get($avatar, size);
  text-align: center;

  &__image {
    border: map-deep-get($avatar, image, border);
    border-radius: map-deep-get($avatar, border-radius);
    width: 100%;
    overflow: hidden;
  }

  &__chart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: z-map(base);
    overflow: hidden;
  }
}
