$card: (
  border-radius: $radius-sm $radius-sm 0 0,
  box-shadow: 0 2px 4px 0 rgba(color(brand, dark), 0.1),
  background-color: color(brand, secondary-bg),
  padding: spacing(2),
  avatar: (
    margin-bottom: spacing(1)
  ),
  title: (
    margin-bottom: spacing(1),
    line-height: type(line-height, title),
    letter-spacing: -0.67px,
    font-size: type(title),
    color: color(brand, title)
  ),
  text: (
    text-align: center,
    line-height: type(line-height, text, secondary),
    font-size: type(text)
  ),
  labels: (
    width: 150px
  )
);

.c-card {
  border-radius: map-deep-get($card, border-radius);
  box-shadow: map-deep-get($card, box-shadow);
  background-color: map-deep-get($card, background-color);
  padding: map-deep-get($card, padding);
  overflow: hidden;

  &__image {
    margin: -#{map-deep-get($card, padding)};
    width: calc(100% + #{2 * map-deep-get($card, padding)});
  }

  &__avatar {
    position: relative;
    z-index: z-map(base);
    margin: auto;
    margin-top: -#{map-deep-get($card, padding)};
    margin-bottom: map-deep-get($card, avatar, margin-bottom);
  }

  &__title {
    margin-bottom: map-deep-get($card, title, margin-bottom);
    text-align: center;
    line-height: map-deep-get($card, title, line-height);
    letter-spacing: map-deep-get($card, title, letter-spacing);
    color: map-deep-get($card, title, color);
    font-size: map-deep-get($card, title, font-size);
  }

  &__text {
    text-align: center;
    line-height: map-deep-get($card, text, line-height);
    font-size: map-deep-get($card, text, font-size);
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__labels {
    margin-left: auto;
    width: map-deep-get($card, labels, width);
    text-align: right;
  }
}
