// SEARCH: defines a search box with an input and an icon button

$search: (
  border-radius: $radius-md,
  background-color: color(alabaster),
  padding: $spacing-unit,
  control: (
    line-height: type(line-height, control),
    font-size: type(control)
  ),
  button: (
    width: 40px,
    font-size: 20px
  )
);

.c-search {
  display: flex; 
  position: relative;
  border-radius: map-deep-get($search, border-radius);
  background-color: map-deep-get($search, background-color);
  padding: map-deep-get($search, padding);

  &__control {
    // line height issue for selected font
    @if $font-adjust {
      @include font-adjust(2px, $position: relative);
    }
    outline: none;
    background-color: transparent;
    width: 100%;
    line-height: map-deep-get($search, control, line-height);
    font-size: map-deep-get($search, control, font-size);
  }

  &__button {
    width: map-deep-get($search, button, width);
    text-align: center;
    font-size: map-deep-get($search, button, font-size);
  }
}
