// OBJECTS: CHECKBOX,a simple hack to customize checkbox inputs
// TBD: no icon was provided

$checkbox: (
  margin-bottom: spacing(1.5),
  line-height: type(line-height,control),
  font-size: type(control),
  checkmark: (
    margin-right: spacing(1.5),
    border: 1px solid color(aluminium),
    border-radius: $radius-xs,
    background-color: color(brand, secondary-bg),
    size: 16px,
    icon: (
      width: 5px,
      height: 8px
    )
  ),
  label: (
    focus-color: color(brand, selected)
  )
);

.o-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  line-height: map-deep-get($checkbox, line-height);
  font-size: map-deep-get($checkbox, font-size);
  user-select: none;

  &:not(:last-child) {
    margin-bottom: map-deep-get($checkbox, margin-bottom);
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;

    &:checked {
      ~ .o-checkbox__checkmark {
        &::after {
          content: "";
        }
      }

      ~ .o-checkbox__label {
        color: map-deep-get($checkbox, label, focus-color);
      }
    }
  }

  &__checkmark {
    position: relative;
    margin-right: map-deep-get($checkbox, checkmark, margin-right);
    border: map-deep-get($checkbox, checkmark, border);
    border-radius: map-deep-get($checkbox, checkmark, border-radius);
    background-color: map-deep-get($checkbox, checkmark, background-color);
    width: map-deep-get($checkbox, checkmark, size);
    height: map-deep-get($checkbox, checkmark, size);

    &::after {
      // since not icons was provided
      // used border hack
      @include border-check(
        $width: map-deep-get($checkbox, checkmark, icon, width),
        $height: map-deep-get($checkbox, checkmark, icon, height),
        $color: map-deep-get($checkbox, label, focus-color)
      );
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }

  &__label {
    text-transform: capitalize;
  }
}
