// OBJECTS: RADIO,a simple hack to customize radio inputs

$radio: (
  margin-bottom: spacing(1.5),
  line-height: type(line-height, control),
  font-size: type(control),
  checkmark: (
    margin-right: spacing(1.5),
    border: 2px solid color(aluminium),
    border-radius: $radius-round,
    background-color: color(brand, secondary-bg),
    size: 18px,
    after: (
      background-color: color(brand, selected),
      size: 10px
    )
  ),
  label: (
    color-checked: color(brand, selected)
  )
);

.o-radio {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: map-deep-get($radio, margin-bottom);
  cursor: pointer;
  line-height: map-deep-get($radio, line-height);
  font-size: map-deep-get($radio, font-size);
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;

    &:checked {
      ~ .o-radio__checkmark {
        &::after {
          content: "";
        }
      }

      ~ .o-radio__label {
        color: map-deep-get($radio, label, color-checked);
      }
    }
  }

  &__checkmark {
    position: relative;
    margin-right: map-deep-get($radio, checkmark, margin-right);
    border: map-deep-get($radio, checkmark, border);
    border-radius: map-deep-get($radio, checkmark, border-radius);
    background-color: map-deep-get($radio, checkmark, background-color);
    width: map-deep-get($radio, checkmark, size);
    height: map-deep-get($radio, checkmark, size);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      border-radius: map-deep-get($radio, checkmark, border-radius);
      background-color: map-deep-get($radio, checkmark, after, background-color);
      width: map-deep-get($radio, checkmark, after, size);
      height: map-deep-get($radio, checkmark, after, size);
    }
  }

  &__label {
    text-transform: capitalize;
  }
}
