@include fontFace($font-aktivgrotest, $font-aktivgrotest-reg);
@include fontFace($font-aktivgrotest, $font-aktivgrotest-bold, $font-bold);

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $base-font, $fallback-font;
}

input,
button {
  font-family: inherit;
}
