$color-1: #242a36;
$color-2: #3c424f;
$color-white: #fff;
$color-3: #eff2f3;
$color-4: #191d25;
$color-5: #565960;
$color-6: #1294ca;
$color-7: #9da3b0;
$color-8: #f8f8f8;
$color-9: #ced3d7;
$color-10:#6D7278




// $color-brand-primary: $color-stk-curious-blue;
// $color-brand-secondary: rgba($color-brand-primary, 0.2);
// $color-brand-highlight: $color-stk-polar;
// $color-brand-alt: $color-stk-tory-blue;
// $color-brand-type: $color-stk-emperor;
// $color-brand-body: $color-stk-emperor;
// $color-brand-error: $color-stk-torch-red;
// $color-brand-system: $color-stk-mercury;
// $color-brand-system-alt: $color-stk-alto;
// $color-brand-control: $color-stk-silver;
// $color-brand-light: $color-stk-white;
// $color-brand-dark: $color-stk-black;
// $color-brand-border-1: $color-stk-aluminium;

// $color: (
//   primary: $color-brand-primary,
//   secondary: $color-brand-secondary,
//   highlight: $color-brand-highlight,
//   alt: $color-brand-alt,
//   type: $color-brand-type,
//   system: $color-brand-system,
//   system-alt: $color-brand-system-alt,
//   control: $color-brand-control,
//   error: $color-brand-error,
//   mute: $color-brand-alt,
//   active: $color-brand-primary,
//   disabled: $color-brand-alt,
//   light: $color-brand-light,
//   dark: $color-brand-dark,
//   border-1: $color-brand-border-1
// );
