// Pathes
$path-assets: "../assets/";
$path-fonts: #{$path-assets + "fonts/"};

// GLOBALS
// - SPACING
$spacing-unit: 10px;
$spacing-container: 4 * $spacing-unit;
// - Media breakpoints
$breakpoints: (
  sm: 480,
  md: 768px,
  lg: 1025px,
  xl: 1440px,
  xxl: 1920px
);

// - Radius
$radius-xs: 2px;
$radius-sm: 3px;
$radius-md: 4px;
$radius-round: 50%;

// Transitions and animations
$timing-default: 0.2s;
$animation-default: ease-in-out;

//DEV & debug
$font-adjust: true;
